<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome Produto </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor Produto</th>
    <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>







<div *ngIf="logado; else naoLogado">
  <p>Bem-vindo ao sistema!</p>
</div>

<ng-template #naoLogado>
  <p>Você precisa se autenticar.</p>
</ng-template>

<button (click)="alternarLogin()">
  {{ logado ? 'Sair' : 'Entrar' }}
</button>





<p><input [(ngModel)]="novaTarefa" placeholder="Nova tarefa" />
<button (click)="adicionarTarefa()">Adicionar</button></p>

<ul>
  <li *ngFor="let tarefa of tarefas; let i = index">
    {{ tarefa }}
    <button (click)="removerTarefa(i)">Remover</button>
  </li>
</ul>






<p [ngStyle]="{'color': nota >= 7 ? 'green' : 'red'}">
  {{ nome }} - Nota: {{ nota }}
</p>


